<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
	td {
		text-align: right;
	}

	table,
	td,
	th {
		border: 1px solid black;
		border-collapse: collapse;
	}
</style>

<body>

	<div style="display: flex;flex-direction: row;">
		<div>
			<p>상품리스트</p>
			<p>
				<button id="saveBasket">장바구니 담기</button>
			</p>
			<table id="tbl1">
				<tr>
					<th scope="col">*</td>
					<th scope="col">상품이름</td>
					<th scope="col">가격</td>
					<th scope="col">재고</td>
					<th scope="col">수량</td>
				</tr>
				<th:block th:each="product : ${products}">
					<tr>
						<td><input name="what" type="checkbox"></td>
						<td th:text="${product.pname}"></td>
						<td th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}"></td>
						<td th:text="${product.pcount}"></td>
						<td><input type="text" value="1" style="text-align: center; width: 2em;"></input></td>
						<td><input type="hidden" th:value="${product.id}"></td>
					</tr>
				</th:block>
				</tr>
			</table>
		</div>
		<div style="width: 50px;"></div>
		<div>
			<p>장바구니</p>
			<p>
				<button id="resetBasket">장바구니 초기화</button>
			</p>
			<table id="basket">
				<tr>
					<th scope="col">이름</td>
					<th scope="col">상품이름</td>
					<th scope="col">가격</td>
					<th scope="col">수량</td>
				</tr>
				<div>
					<th:block th:if="${baskets != null}" th:each="basket : ${baskets}">
						<tr>
							<td th:text="${basket.uname}"></td>
							<td th:text="${basket.pname}"></td>
							<td th:text="${#numbers.formatInteger(basket.price, 3, 'COMMA') + '원'}"></td>
							<td th:text="${basket.pcount}"></td>
						</tr>
					</th:block>
					<input id="basket_id" type="hidden" th:if="${baskets != null && #lists.size(baskets) != 0}" th:value="${baskets[0].id}"></input>
				</div>
				</tr>
			</table>
		</div>
	</div>
	<hr>
	<div>
		<button id="requestPayment">주문요청 하기</button>
	</div>
	<p>주문 히스토리</p>
	<table style="width: 100%;">
		<tr>
			<th scope="col">이름</td>
			<th scope="col">상품목록</td>
			<th scope="col">총 결제금액</td>
			<th scope="col">주문일자</td>
		</tr>
		<th:block th:each="order : ${orders}">
			<tr>
				<td th:text="${order.uname}"></td>
				<td th:text="${order.itemlist}"></td>
				<td th:text="${#numbers.formatInteger(order.total, 3, 'COMMA') + '원'}"></td>
				<td th:text="${#temporals.format(order.createdAt, 'yyyy/MM/dd HH:mm')}"></td>
			</tr>
		</th:block>
		</tr>
	</table>

</body>


<script>
	$(document).ready(function () {
		
		$('#tbl1 [type="checkbox"]').on('click', function() {
		    $('#tbl1 [type="checkbox"]:not(:focus)').prop('checked', false);
		    $(this).parent().parent().find('checkbox').attr('checked', !$(this).prop('checked'));
		});
		
		$(document).on("click", "button[id='requestPayment']", function () {			
		    requestPaymentF();
		});
		
		$(document).on("click", "button[id='resetBasket']", function () {			
		    setAllDisable();
		});
		
		$(document).on("click", "button[id='saveBasket']", function () {			
		    saveBasket();
		});
		
		function saveBasket(){
			$('#tbl1 tr').each(function(){				
            	if($(this).find('[type="checkbox"]').prop('checked') == true){
					console.log($(this).find('td:eq(1)').html());
					console.log($(this).find('td:eq(2)').html());
					console.log($($(this).find('td:eq(4)')).find('input').val());
					console.log($($(this).find('td:eq(5)')).find('input').val());
					$.ajax({
						type: 'post',           
						url: '/addBasket',
						async: true,            
						headers: {              
							"Content-Type": "application/json"
						},
						dataType: 'text',
						data: JSON.stringify({
							"b_id" : parseInt($('#basket_id').val()),
							"p_id" : $($(this).find('td:eq(5)')).find('input').val(),
							"pcount" : $($(this).find('td:eq(4)')).find('input').val()
						}),
						success: function (result) {
							console.log(result);
							location.reload();
						},
						error: function (request, status, error) {
							console.log(error)
							location.reload();
						}
					})
				}
        	});			
		}
		
		function requestPaymentF(orderId, pcount) {
			$.ajax({
				type: 'post',           
				url: '/paymentRequest',
				async: true,            
				headers: {              
					"Content-Type": "application/json"
				},
				dataType: 'text',       
				data: JSON.stringify({					
    				"b_id" : parseInt($('#basket_id').val()),
				}),
				success: function (result) {
					console.log(result);
					location.reload();
				},
				error: function (request, status, error) {
					console.log(error)
					location.reload();
				}
			})
		}
		
		function setAllDisable(){
			if($('#basket_id').val() != undefined){
				$.ajax({
					type: 'post',           
					url: '/setAllDisable',
					//async: true,            
					headers: {              
						"Content-Type": "application/json"
					},
					dataType: 'text',
					data: JSON.stringify({
						"id": parseInt($('#basket_id').val())
					}),
					success: function (result) {
						console.log(result);
						location.reload();
					},
					error: function (request, status, error) {
						console.log(error)
						location.reload();
					}
				})
			}
		}
	})
</script>

</html>